.Salad {
    z-index: 9;
    bottom: 2rem;
    left: -0.35rem;
    right: -0.35rem;
    width: 97%;
    height: 0.3rem;
    border-radius: 0.5rem;
    border: 0.3rem solid #231e5f;
    background: #15bf3f;
}